@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');
*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'karma', sans-serif;
    text-decoration: none;
}
img{
    max-width: 100%;
}
body{
    background-color: #333;
}
.screen{
    width: 1440px;
    background-color: #333;
    margin: 0 auto;
    padding: 4rem;
}
.minhaImagem{
    width: 302px;
    height: 302px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../img/fotosite.jpg') lightgray 50% / cover no-repeat;
    background-position-y: -65px;
    transform: rotateY(180deg);
    box-shadow: 0 0 25px 1.5px #0f0f0f;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.menu{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 30px;
}
.top h2{
    font-size: 36px;
    color: #fff;
    margin: 0;
    padding: 0;
    transition: 0.1s ease-in-out;
}
.menu a{
    font-size: 20px;
    color: #d0d0d0;
    text-decoration: none;
    transition: 0.25s ease;
    &:hover{
        color: #fff;
        text-decoration: underline;
        transform: scale(1.2);
    }
}
.icons{
    display: flex;
    gap: 10px;
}
.icons a{
    color: #d0d0d0;
    font-size: 28px;
    transition: 0.25s ease-in-out;
    &:hover{
        color: #fff;
        transform: scale(1.35);
    }   
}
.section{
    margin-top: 7rem;
}
.cont1{
    display: flex;
}
.bgCont1{
    position: absolute;
    right: 0;
}
.bgCont2{
    position: absolute;
    left: 0;
    margin-top: 2.5rem;
}
.intCont1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    margin-top: 1.5rem;
    z-index: 100;
}
.txtCont1{
    width: 36.5%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.txtCont1 h1{
    color: #fff;
    font-size: 40px;
}
.txtCont1 p{
    color: #d0d0d0;
    font-size: 16px;
}
.btCurriculo{
    width: 30%;
    padding: 0.3rem;
    color: #0E1A23;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #fff;
    transition: 0.2s ease-in-out;

    &:hover{
        transform: scale(1.09);
        color: #fff;
        background-color: #0E1A23;
    }
}
.intCont2{
    margin-top: 8rem;
}
.fundoSobreMim{
    transform: rotate(180deg);
}